<!DOCTYPE html>
  <html>
    <head>
    <meta charset="utf-8">
    <!-- (1) Optimize for mobile versions: http://goo.gl/EOpFl -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- (1) force latest IE rendering engine: bit.ly/1c8EiC9 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title><%= ENV['SITE_TITLE'] %></title>
    <meta name="description" content="<%= ENV['SITE_DESCRIPTION'] %>" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <!-- DublinCore Metadata -->
    <meta property="dc:title" content="<%= ENV['SITE_TITLE'] %>" />
    <meta property="dc:format" content="text/html" />
    <meta property="dc:language" content="en" />
    <meta property="dc:rights" content="CC-BY" />
    <meta property="dc:source" content="<%= ENV['SITE_TITLE'] %>" />
    <meta property="dc:subject" content="Scholarly Communication" />
    <meta property="dc:type" content="website" />

    <% if ENV['TWITTER_HANDLE'] %>
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="<%= ENV['TWITTER_HANDLE'] %>" />
    <meta name="twitter:title" content="<%= ENV['SITE_TITLE'] %>" />
    <meta name="twitter:image" content="/images/datacite.png" />
    <meta name="twitter:description" content="<%= ENV['SITE_DESCRIPTION'] %>" />
    <% end %>

    <meta property="og:site_name" content="<%= ENV['SITE_TITLE'] %>" />
    <meta property="og:description" content="<%= ENV['SITE_DESCRIPTION'] %>" />
    <meta property="og:image" content="/images/datacite.png" />
    <meta property="og:type" content="blog" />

    <link href='//fonts.googleapis.com/css?family=Raleway:400,600,400italic,600italic' rel='stylesheet' type='text/css'>
        <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
      integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
      rel="stylesheet"
      crossorigin="anonymous" />

      
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

    <link href="<%= ENV['CDN_URL'] %>/stylesheets/datacite.css" rel='stylesheet' type='text/css'>


    <link href="<%= ENV['CDN_URL'] %>/images/favicon.ico" rel="icon" type="image/ico" />

    <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.10/es5-shim.js"></script>
    <script async defer data-domain="schema.datacite.org" src="https://plausible.io/js/plausible.js"></script>

    <style>
      .navbar .navbar-collapse.collapse.in, .navbar .navbar-collapse.collapsing {
          display: block !important;
      }
      .landing-header .motto {
        padding-top: 150px;
        padding-bottom: 10px;
      }
      .navbar .navbar-nav>li>a {
        margin-top: 5px;
        margin-bottom: 5px;
      }
      .navbar .navbar-brand {
        margin: 0px
      }
      #navbar-brand-fix {
        color: #34495e !important;
      }
      .navbar-default .navbar-nav>li>a:not(.btn) {
        color: #34495e;
      }
      .navbar-default .navbar-nav>li>a:not(.btn):focus,
      .navbar-default .navbar-nav>li>a:not(.btn):hover,
      .footer a:hover, .footer a:focus  {
        color: #0071b2;
      }
      h2, h3, h4, p, li {
        color: #34495e;
      }
      h1, h2, h3, h4, p, li, a {
        font-family: "Source Sans 3", sans-serif;
      }
      h1 {
        font-weight: 600;
      }
      .motto > p {
        color: white;
      }
      a { 
        color: #0071b2;
      }
      p > a { 
        text-decoration: underline;
      }
      .btn {
        color: #34495e;
        border-color: #34495e;
        text-decoration: none;
      }
      .btn:hover, .btn:active, .btn:focus {
        background-color: #0071b2;
        border-color: #0071b2;
      }
      .footer, .navbar-default {
        background-color: #f9fafa;
       }
      .footer a, .footer a:visited,
      .footer h4 {
        color: #a3acb2;
      }
    </style>


  </head>
  <body>
    <%= partial "includes/header.html.erb" %>
    <%= yield %>
    <%= partial "includes/footer.html.erb" %>
    <%= partial "includes/javascripts.html.erb" %>
  </body>
</html>
