<% wrap_layout :layout do %>
  <% if current_page.data.alert %>
    <div class="alert alert-warning landing-alert">
      <div class="container text-center">
        <h5><%= current_page.data.alert %></h5>
      </div>
    </div>
  <% end %>

  <div class="wrapper">
    <!-- https://www.pexels.com/photo/camera-old-vintage-photos-35107/ -->
    <div class="<%= current_page.data.alert ? 'landing-alert-header' : 'landing-header' %>" style="background-image: url('//<%= ENV['CDN_HOST'] %>/images/schema/landing.jpg');">
      <div class="container">
        <div class="motto">
          <h1><%= current_page.data.title %></h1>
          <p>Released <%= Date.parse(current_page.data.date.to_s).strftime("%-d %b %Y") %></p>
        </div>
      </div>
    </div>

    <div class="section section-white">
      <div class="row row-section">
        <div class="container-fluid">
          <div class="col-md-8 col-md-offset-2">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
