---
title: DataCite Metadata Schema 4.0
version: 4.0
date: 2016-05-14
schema_url: /meta/kernel-4.0/metadata.xsd
documentation_url: /meta/kernel-4.0/doc/DataCite-MetadataKernel_v4.0.pdf
alert: This schema is available as unpublished version for testing.
---

<div class="alert alert-warning landing-alert">
  <div class="container text-center">
    <h5><%= current_page.data.alert %></h5>
  </div>
</div>

<div class="wrapper">
  <!-- https://www.pexels.com/photo/camera-old-vintage-photos-35107/ -->
  <div class="landing-alert-header" style="background-image: url('//<%= ENV['CDN_HOST'] %>/images/schema/landing.jpg');">
    <div class="container">
      <div class="motto">
        <h1><%= current_page.data.title %></h1>
        <p>Released <%= Date.parse(current_page.data.date.to_s).strftime("%-d %b %Y") %></p>
      </div>
    </div>
  </div>

  <div class="section section-light-blue">
    <div class="row row-section">
      <div class="container-fluid">
        <div class="col-md-8 col-md-offset-2">
          <%= partial "meta/kernel-#{current_page.data.version}/schema.html.md" %>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-dark-blue">
    <div class="row row-section">
      <div class="container-fluid">
        <div class="col-md-8 col-md-offset-2">
          <%= partial "meta/kernel-#{current_page.data.version}/documentation.html.md" %>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-white">
    <div class="row row-section">
      <div class="container-fluid">
        <div class="col-md-8 col-md-offset-2">
          <%= partial "meta/kernel-#{current_page.data.version}/examples.html.md" %>
        </div>
      </div>
    </div>
  </div>
</div>
