#### Metadata Schema 4.5

Released <%= Date.parse("2024-01-22").strftime("%-d %b %Y") %>. Changes in this version include:

* Addition of new values to the resourceTypeGeneral property: Instrument and StudyRegistration
* Addition of new relationType pair: IsCollectedBy and Collects
* Addition of new sub-properties in the Publisher property

<a href="/meta/kernel-4.5/" class="btn">More info</a>


#### DataCite Metadata Schema 4.4

Released <%= Date.parse("2021-03-30").strftime("%-d %b %Y") %>. Changes in this version include:

* Addition of the new subproperty “classificationCode” in the Subject property.
* Addition of new values to the resourceTypeGeneral property: Book, BookChapter, ComputationalNotebook, ConferencePaper, ConferenceProceeding, Dissertation, Journal, JournalArticle, OutputManagementPlan, PeerReview, Preprint, Report, Standard
* Addition of a new relationType: “isPublishedIn” (indicates that A is published in B)
* Addition of a new relatedItem property, with subproperties to contain specific details for containing publication information previously encoded in a description field with descriptionType=”SeriesInformation” (for example, to define the journal name, volume, and page number for an article resource).

<a href="/meta/kernel-4.4/" class="btn">More info</a>

#### DataCite Metadata Schema 4.3

Released <%= Date.parse("2019-08-16").strftime("%-d %b %Y") %>. Changes in this version include:

* Addition of optional "affiliationIdentifier", "affiliationIdentifierScheme", and "schemeURI" for affiliation
* Addition of optional "schemeURI" for funderIdentifier
* Addition of "ROR" to allowed values for funderIdentifierType

<a href="/meta/kernel-4.3/" class="btn">More info</a>

#### DataCite Metadata Schema 4.2
Released <%= Date.parse("2019-03-20").strftime("%-d %b %Y") %>. Changes in this version include:

*	Addition of new dateType “Withdrawn”
*	Addition of new relationType pair: IsObsoletedBy and Obsoletes
*	Addition of new relatedIdentifierType “w3id”
*	Addition of new subproperties for Rights:
  *	rightsIdentifier
  *	rightsIdentifierScheme
  *	schemeURI
*	Addition of the XML language attribute to the properties Creator, Contributor and Publisher for organizational names.

<a href="/meta/kernel-4.2/" class="btn">More info</a>

#### DataCite Metadata Schema 4.1
Released <%= Date.parse("2017-10-23").strftime("%-d %b %Y") %>. Changes in this version include:

* Allowing multiple polygons per GeoLocation
* Addition of new optional "inPolygonPoint" subproperties for polygon
* Addition of new dateType “Other”
*	Addition of a new resourceType "DataPaper"
*	Addition of three new relationType pairs: IsDescribedBy and Describes, HasVersion and IsVersionOf, IsRequiredBy and Requires
* Addition of new subproperty for Date: dateInformation
* Addition of a new optional attribute for creatorName and ContributorName: nameType. Controlled list: personal, organizational
* Addition of a new optional "resourceTypeGeneral" attribute for relatedIdentifier. Controlled list is identical to existing resourceTypeGeneral attribute
* Addition of optional lang attribute to Rights property

<a href="/meta/kernel-4.1/" class="btn">More info</a>

#### DataCite Metadata Schema 4.0
Released <%= Date.parse("2016-09-19").strftime("%-d %b %Y") %>. Changes in this version include:

* Changing resourceTypeGeneral from optional to mandatory
* Addition of a new property: FundingReference, with subproperties funderName, funderIdentifier, awardNumber, awardURI and awardTitle. Deprecation of contributorType "funder"
* Addition of new optional subproperties for creatorName and contributorName: familyName and givenName
* Addition of a new relatedIdentifierType option "IGSN"
* Addition of a new subproperty for GeoLocation "geoLocationPolygon", and changing the definition of the existing GeoLocation subproperties (geoLocationPoint and
geoLocationBox)

<a href="/meta/kernel-4.0/" class="btn">More info</a>

#### DataCite Metadata Schema 3
<div class="alert alert-danger" role="alert" style="background-color: #f8d7da; color: #721c24;">
  <p>DataCite Metadata Schema 3 (3.0 and 3.1) will be deprecated on January 1, 2025.</p>
  <p>Please see the following for more information:</p>
  <ul>
  <li>Announcement: <a style="text-decoration: underline; color: #721c24;" href="https://doi.org/10.5438/hg83-q366">Deprecating Schema 3</a></li>
  <li>Support documentation: <a style="text-decoration: underline; color: #721c24;" href="https://support.datacite.org/docs/updating-from-schema-3-to-schema-4">Updating from Schema 3 to Schema 4</a></li>
  </ul>
</div>

* [DataCite Metadata Schema 3.1](/meta/kernel-3.1/) (<%= Date.parse("2014-10-16").strftime("%-d %b %Y") %>)
* [DataCite Metadata Schema 3.0](/meta/kernel-3.0/) (<%= Date.parse("2013-07-24").strftime("%-d %b %Y") %>)


#### DataCite to Dublin Core Mapping 4.4
Released <%= Date.parse("2021-07-08").strftime("%-d %b %Y") %>.

<a href="/dc/" class="btn">More info</a>

#### Versioning

For our [Metadata store](https://mds.datacite.org) all these versions are valid, although only one version is considered *preferred* at any given moment of time. Starting with version 3.0 only major releases will have a new namespace.

The version number is formatted as: *Major*.*Minor*

* **Major Version** — A major release is for adding features that require breaking backward
  compatibility with previous versions or represent fundamental changes. For a major release, the MAJOR component is incremented by one and the MINOR component is set to zero, e.g. 3.1 to 4.0.
* **Minor Version** — A minor release is for adding features that do not break backward
  compatibility with previous versions and for fixing bugs that may or may not break backwards compatibility. For a minor release, the MINOR component is incremented by one, e.g. 3.0 to 3.1.

Each incoming Metadata store XML document should indicate the schema location in the root element.

Each available version of a schema is a subdirectory containing a set of files. These files constitute a single metadata version. They include all the required xsd files, sample xml files and documentation. The files don't reference any other files outside of their version subdirectory.

#### Obsolete Versions

These versions are no longer accepted by the DataCite MDS.

* [DataCite Metadata Schema 2.2](archive/kernel-2.2/index.html) (<%= Date.parse("2011-07-01").strftime("%-d %b %Y") %>)
* [DataCite Metadata Schema 2.1](archive/kernel-2.1/index.html) (<%= Date.parse("2011-03-28").strftime("%-d %b %Y") %>)
* [DataCite Metadata Schema 2.0](archive/kernel-2.0/index.html) (<%= Date.parse("2011-01-24").strftime("%-d %b %Y") %>)
