## Older Versions

#### DataCite Metadata Schema 4.0
Released <%= Date.parse("2016-09-19").strftime("%-d %b %Y") %>. Changes in this version include:

* Changing resourceTypeGeneral from optional to mandatory
* Addition of a new property: FundingReference, with subproperties funderName, funderIdentifier, awardNumber, awardURI and awardTitle. Deprecation of contributorType "funder"
* Addition of new optional subproperties for creatorName and contributorName: familyName and givenName
* Addition of a new relatedIdentifierType option "IGSN"
* Addition of a new subproperty for GeoLocation "geoLocationPolygon", and changing the definition of the existing GeoLocation subproperties (geoLocationPoint and
geoLocationBox)

<a href="/meta/kernel-4.0/" class="btn">More info</a>

#### DataCite Metadata Schema 3.1
Released <%= Date.parse("2014-10-16").strftime("%-d %b %Y") %>. Changes in this version include:

* New affiliation attribute for Creator and Contributor
* New relationType pairs IsReviewedBy/Reviews and IsDerivedFrom/IsSourceOf
* New contributorType: DataCurator
* New relatedIdentifier types: arXiv and bibcode

<a href="/meta/kernel-3.1/" class="btn">More info</a>

#### DataCite Metadata Schema 3.0
Released <%= Date.parse("2013-07-24").strftime("%-d %b %Y") %>.

<a href="/meta/kernel-3.0/" class="btn">More info</a>

#### DataCite Metadata Schema 2.2
Released <%= Date.parse("2011-07-01").strftime("%-d %b %Y") %>.

<a href="/meta/kernel-2.2/" class="btn">More info</a>

#### DataCite Metadata Schema 2.1
Released <%= Date.parse("2011-03-28").strftime("%-d %b %Y") %>.

<a href="meta/kernel-2.1/" class="btn">More info</a>

#### Versioning

For our [Metadata store](https://mds.datacite.org) all these versions are valid, although only one version is considered *preferred* at any given moment of time. Starting with version 3.0 only major releases will have a new namespace.

The version number is formatted as: *Major*.*Minor*

* **Major Version** — A major release is for adding features that require breaking backward
  compatibility with previous versions or represent fundamental changes. For a major release, the MAJOR component is incremented by one and the MINOR component is set to zero, e.g. 3.1 to 4.0.
* **Minor Version** — A minor release is for adding features that do not break backward
  compatibility with previous versions and for fixing bugs that may or may not break backwards compatibility. For a minor release, the MINOR component is incremented by one, e.g. 3.0 to 3.1.

Each incoming Metadata store XML document should indicate the schema location in the root element.

Each available version of a schema is a subdirectory containing a set of files. These files constitute a single metadata version. They include all the required xsd files, sample xml files and documentation. The files don't reference any other files outside of their version subdirectory.

#### Obsolete Versions

These versions are no longer accepted by the DataCite MDS.

* [DataCite Metadata Schema 2.0](archive/kernel-2.0/index.html) (<%= Date.parse("2011-01-24").strftime("%-d %b %Y") %>)
