---
title: Contribute to the DataCite Metadata Schema
description: Submit new ideas and discuss suggestions
---

<div class="wrapper">
  <!-- https://www.pexels.com/photo/camera-old-vintage-photos-35107/ -->
  <div class="landing-header" style="margin-top: 0px; background-image: url('<%= ENV['CDN_URL'] %>/images/header2.jpg');">
    <div class="container">
      <div class="motto">
        <h1><%= current_page.data.title %></h1>
        <p><%= current_page.data.description %></p>
      </div>
    </div>
  </div>

  <div class="section" style="background-color: #e7e7e7">
    <div class="row row-section">
      <div class="container-fluid">
        <div class="col-md-8 col-md-offset-2">
          <%= partial "contribute-new.html.md" %>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-white">
    <div class="row row-section">
      <div class="container-fluid">
        <div class="col-md-8 col-md-offset-2">
          <%= partial "contribute-existing.html.md" %>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="row row-section">
      <div class="container-fluid">
        <div class="col-md-8 col-md-offset-2">
          <%= partial "contribute-what-happens.html.md" %>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-white">
    <div class="row row-section">
      <div class="container-fluid">
        <div class="col-md-8 col-md-offset-2">
          <%= partial "contribute-stages.html.md" %>
        </div>
      </div>
    </div>
  </div>
</div>
